{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}
<body>

<br/>
<br/>
<h1>Create</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
Title:
<br />
<input type="text" name="title" style="width:25%;" />
<br />
Body:
<br />
<input type="textbox" name="body" style="width:50%;"/>
<br />
Image:
<br />
<input type="file" name="image" />
<br />
<br />
<input class="btn btn-primary" type="submit" value="Upload Article" />
</form>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>
{% endblock %}
